:root {
    --bg-color: #ebfafa86;
    --primary-color: rgb(64, 75, 80);
    --secondary-color: #CCCCFF;
    --tertiary-color: #63A7E1;
    font-family: sans-serif;
}

#navBar,
#navBar * {
    background-color: var(--primary-color);
    margin: 0 auto;
}

#navBar a {
    padding: 1em 2em;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1em;
}
body {
    margin: 0;
    padding: 2em;
}

h1 {
    margin: 0;
    text-align: center;
    flex: auto;

}
#intro {
    padding-top: 2em;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 1em;
    font-family: sans-serif;
    text-align: justify;
    block-size: auto;
    letter-spacing: 2px;

}
h2#SouthAmericaTitle{
    padding-top: 2em;
    padding-left: 10em;
    padding-right: 14em;
    padding-bottom: 1em;
    font-family: sans-serif;
    text-align: center;
    block-size: auto;
    letter-spacing: 2px;
}

p#SouthAmericaP{
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 1em;
  font-family: sans-serif;
  text-align: justify;
  block-size: auto;
  letter-spacing: 2px;
}
h2#Buenos{
  font-family: 'Courier New', Courier, monospace;

  padding-left: 10em;
  text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}
div.gallery figure img {
  border-radius: 50%;
  -webkit-box-reflect: right;
  width: 50%;
  height: auto;
}

div.desc {
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 1em;
  padding: 15px;
  text-align: center;
}







footer {
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: rgb(64, 75, 80);
    color: cornflowerblue;
}