:root {
    --bg-color: #ebfafa86;
    --primary-color: rgb(64, 75, 80);
    --secondary-color: #CCCCFF;
    --tertiary-color: #63A7E1;
    font-family: sans-serif;
}
#navBar,
#navBar * {
    background-color: var(--primary-color);
    margin: 0 auto;


}

#navBar a {
    padding: 1em 2em;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1em;
}
h1 {
    margin: 0;
    text-align: center;
    flex: auto;

}
#intro P{
    
}
body {
    background-color: var(--bg-color);
}
footer {
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: rgb(64, 75, 80);
    color: cornflowerblue;
}

.grid{
    display: grid;
    height: 75vh;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border: 1px solid red;
    overflow-y: auto;
 }
 .grid-item {
   background-color: rgba(255, 255, 255, 0.8);
   border: 1px solid rgba(0, 0, 0, 0.8);
   padding: 20px;
   font-size: 30px;
   text-align: center;
 }

