:root{
    --bg-color: #e0d4d05e;
    --primary-color: #441E16;
    --secondary-color: #CCCCFF;
    --tertiary-color: #63A7E1;
    font-family: sans-serif;
}

#navBar, #navBar *{
    background-color: var(--primary-color);
}

#navBar a{
    color: var(--secondary-color);
}

header{
 background-color: var(--tertiary-color);
} 

iframe{
    width: 50%;
}


video{
    background-color:rgb(161, 161, 131);
}

body{
    background-color: var(--bg-color);
}