<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${bird.name}">Bird Name ...</title>
</head>
<body>
    <header>
        <h1 th:text="${bird.name}">Bird Name ...</h1>
    </header>
    <div>
        <img th:src="'/images/Birds/' + ${bird.imageUrl}">
        <p th:text="${bird.description}"></p>
        <div>
            <h2>Habitats</h2>
            <ul>
                <li th:each="habitat: ${bird.habitats}"><a th:href="@{/habitats/${habitat.id}}" th:text="${habitat.habitatName}">Habitat Name...</a></li>
            </ul>
        </div>
    </div>
    <Footer>JAC Enterprises 2022</Footer>
</body>
</html>