<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/landingLayout.css}">
    <title th:text="${bird.name}"></title>
</head>
<body>
    <header>
        <nav id="navBar">
            <a href="continents">South America</a>
            <a href="birds">Bird List</a>
        </nav>
        <h1 th:text="${bird.name}"></h1>
    </header>
    <div>
        <p th:text="${bird.description}"></p>
        <div>
            <h2>Habitats</h2>
            <ul>
                <li th:each="habitat: ${bird.habitats}"><a th:href="@{/bird(id=${bird.id})}" th:text="${habitat.habitatName}"></a></li>
                <img th:src="${bird.imageUrl}" alt="No Image">
            </ul>
        </div>
    </div>
    <Footer>JAC Enterprises 2022</Footer>
</body>
</html>