<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/countries.css">
    <link rel="stylesheet" href="../style/css/landingLayout.css">
    <title>countries</title>
</head>
<body>
<header>
    <nav id="navBar">
        <a href="home">Home</a>
        <a href="Region">Region</a>
        <a href="Continent"> Continent</a>
    </nav>
    <h1>Countries Available for Bird Watching</h1>
</header>
<div>
    <ul>
        <li th:each="country: ${countries}"><a th:href="@{/country(id=${country.id})}" th:text="${country.name}">Country  Name...</a></li>
    </ul>
</div>
   <h1>countries</h1>
</body>
<Footer>JAC Enterprises 2022</Footer>
</html>