<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/habitat.css">
    <link rel="stylesheet" href="../style/css/landingLayout.css">
  
    <title>Habitats</title>
</head>
<body>
<h1>Habitats</h1>
<nav id="navBar">
    <a href="#top">Home</a>
    <a href="#birds">Brirds</a>
    <a href="continents">Continents</a>
</nav>
<header>
    <div class="grid">
        <ul>
            <li th:each="habitat: ${habitats}"><a th:href="@{/habitat(id=${habitat.id})}" th:text="${habitat.habitatName}"></a></li>
        </ul>
    </div>

</header>
<Footer>JAC Enterprises 2022</Footer>
</body>
</html>