<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/habitat.css">
    <link rel="stylesheet" href="../style/css/landingLayout.css">
    <title>Habitat</title>
</head>
<body>
<header>
    <h1>Habitat for Bird Watching</h1>
</header>
<div>
    <ul>
        <li th:each="habitat: ${habitats}"><a th:href="@{/habitat(id=${habitat.id})}" th:text="${habitat.name}">Habitat  Name...</a></li>
    </ul>
</div>
<Footer>JAC Enterprises 2022</Footer>
</body>
</html>