<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/landingLayout.css}">
    <link rel="stylesheet" th:href="@{css/Region.css}">

    <title>Regions</title>
</head>
<body>
    <header>
        <nav id="navBar">
            <a href="home">Home</a>
            <a href="continents">South America</a>
        </nav>
        <h1>Regions Available for Bird Watching</h1>
    </header>
    <div>
        <div class="grid">
        <ul>
            <li th:each="region: ${regions}"><a th:href="@{/region(id=${region.id})}" th:text="${region.regionName}"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam placerat urna sed hendrerit congue. Morbi tempus lorem laoreet felis interdum, nec pretium ipsum dictum. Quisque vel dolor id risus maximus consequat ut quis nunc. Vivamus fermentum egestas sem, vitae aliquam leo euismod sit amet. Curabitur interdum sollicitudin ligula, tincidunt rutrum massa viverra ut. Ut et massa hendrerit, accumsan nisi non, molestie elit. Mauris accumsan nunc dolor, pharetra bibendum mi pretium et. Integer euismod rutrum fermentum.</p>
            </li>
        </ul>
        </div>
    </div>
    <Footer>JAC Enterprises 2022</Footer>
</body>
</html>